---
import DashboardBox from "@/components/Dashboard/DashboardBox.astro"
import DashboardBoxCount from "@/components/Dashboard/DashboardBoxCount.astro"
import DashboardBoxDescription from "@/components/Dashboard/DashboardBoxDescription.astro"
import DashboardBoxIconWrapper from "@/components/Dashboard/DashboardBoxIconWrapper.astro"
import { Icon } from "@/components/UI/Icon"
import DashboardLayout from "@/layouts/DashboardLayout.astro"
import { getAdsCount } from "@/lib/action/ad"
import { getArticlesCount } from "@/lib/action/article"
import { getMediasCount } from "@/lib/action/media"
import { getTopicsCount } from "@/lib/action/topic"
import { getUsersCount } from "@/lib/action/user"

const user = Astro.locals.user
const DB = Astro.locals.runtime.env.DB
const articles = await getArticlesCount(DB)
const topics = await getTopicsCount(DB)
const medias = await getMediasCount(DB)
const ads = await getAdsCount(DB)
const users = await getUsersCount(DB)
if (!user?.role.includes("admin" || "author")) {
  return Astro.redirect("/")
}
//TODO: change layout
---

<DashboardLayout
  locale="id"
  seo={{
    title: import.meta.env.PUBLIC_SITE_TITLE,
    description: import.meta.env.PUBLIC_SITE_DESCRIPTION,
    languageAlternates: [
      { href: `${import.meta.env.PUBLIC_SITE_URL}/`, hrefLang: "id" },
      { href: `${import.meta.env.PUBLIC_SITE_URL}/en`, hrefLang: "en" },
    ],
    canonical: import.meta.env.PUBLIC_SITE_URL,
    openGraph: {
      basic: {
        title: `${import.meta.env.PUBLIC_SITE_TITLE} | `,
        url: `${import.meta.env.PUBLIC_SITE_URL}/`,
        type: "website",
        image: "",
      },
      optional: {
        description: import.meta.env.PUBLIC_SITE_DESCRIPTION,
        locale: "ID",
      },
    },
  }}
><div class="mx-4 my-8 w-full"> <h2 class="text-3xl">Statistics</h2>
  <div class="my-8 grid grid-cols-2 gap-3 md:grid-cols-5">
    <DashboardBox>
      <DashboardBoxIconWrapper>
        <Icon.Article />
      </DashboardBoxIconWrapper>
      <DashboardBoxCount>{articles}</DashboardBoxCount>
      <DashboardBoxDescription>articles</DashboardBoxDescription>
    </DashboardBox>
    <DashboardBox>
      <DashboardBoxIconWrapper>
        <Icon.Topic />
      </DashboardBoxIconWrapper>
      <DashboardBoxCount>{topics}</DashboardBoxCount>
      <DashboardBoxDescription>topics</DashboardBoxDescription>
    </DashboardBox>
    <DashboardBox>
      <DashboardBoxIconWrapper>
        <Icon.Media />
      </DashboardBoxIconWrapper>
      <DashboardBoxCount>{medias}</DashboardBoxCount>
      <DashboardBoxDescription>medias</DashboardBoxDescription>
    </DashboardBox>
    <DashboardBox>
      <DashboardBoxIconWrapper>
        <Icon.Ads />
      </DashboardBoxIconWrapper>
      <DashboardBoxCount>{ads}</DashboardBoxCount>
      <DashboardBoxDescription>ads</DashboardBoxDescription>
    </DashboardBox>
    <DashboardBox>
      <DashboardBoxIconWrapper>
        <Icon.User />
      </DashboardBoxIconWrapper>
      <DashboardBoxCount>{users}</DashboardBoxCount>
      <DashboardBoxDescription>users</DashboardBoxDescription>
    </DashboardBox>
  </div></div>
 
</DashboardLayout>
