---
import type { User } from "lucia"

// import type { Menu as MenuProps } from "@prisma/client"

import { cn } from "@/lib/utils/style"
import type { LanguageType } from "@/lib/validation/language"
import Footer from "./Footer.astro"
import SideNav from "./SideNav"
import TopNav from "./TopNav.astro"
import type { SelectMenu } from "@/lib/db/schema"

interface Props {
  locale: LanguageType
  headerType?: "default" | "video" | "shorts" | "video-content"
  menus: SelectMenu[] | null
  menusByLang: SelectMenu[] | null
  menusFooterAll?: SelectMenu[] | null
  menusFooterByLang?: SelectMenu[] | null
  type?: "default" | "video" | "shorts" | "video-content"
  settings?: Record<string, string>
  user?: User | null
}

const {
  locale,
  headerType = "default",
  menus,
  menusByLang,
  settings,
  menusFooterAll,
  menusFooterByLang,
  type = "default",
  user,
} = Astro.props as Props
---

<div>
  <TopNav
    headerType={headerType}
    locale={locale}
    facebookUsername={settings?.facebookUsername}
    twitterUsername={settings?.twitterUsername}
    instagramUsername={settings?.instagramUsername}
    tiktokUsername={settings?.tiktok_username}
    whatsappChannel={settings?.whatsappChannel}
    youtubeChannel={settings?.youtubeChannel}
    user={user}
    ><Fragment slot="buttonMenu">
      <label
        for="openSidebarMenu"
        class="sidebarIconToggle fixed left-4 top-6 z-20 box-border h-6 w-6 cursor-pointer transition-all duration-300"
      >
        <span class="spinner diagonal part-1 bg-foreground"></span>
        <span class="spinner horizontal bg-foreground"></span>
        <span class="spinner diagonal part-2 bg-foreground"></span>
      </label>
    </Fragment></TopNav
  >
</div>
<input
  type="checkbox"
  class="openSidebarMenu peer/menu hidden transition-all duration-300"
  id="openSidebarMenu"
/>
<div
  id="sidebarMenu"
  class={cn(
    "duration-250 fixed left-0 top-16 z-[5] h-full w-[250px] transform border-r border-border bg-background pt-3 transition-transform ease-in-out ",
    type === "default" &&
      "-translate-x-full peer-checked/menu:translate-x-0 md:translate-x-0 peer-checked/menu:md:-translate-x-full",
    type === "video" &&
      "z-[9] -translate-x-full peer-checked/menu:translate-x-0 min-[1330px]:translate-x-0 peer-checked/menu:min-[1330px]:-translate-x-full",
    type === "shorts" && "-translate-x-full peer-checked/menu:translate-x-0",
  )}
>
  <SideNav
    menuSideBarAll={menus}
    menuSideBarByLang={menusByLang}
    isMain={true}
    locale={locale}
    client:load
  />
</div>
<div
  id="center"
  class={cn(
    "fade-up-element mx-auto block h-full",
    type === "default" && "md:pl-[250px] peer-checked/menu:md:pl-0",
    type === "video" &&
      "min-[1330px]:pl-[250px] peer-checked/menu:min-[1330px]:pl-0",
    type === "video"
      ? "mt-[64px]"
      : type === "shorts"
        ? "mt-0 md:mt-20"
        : "mt-[64px]",
  )}
>
  <slot />
</div>
{
  type !== "shorts" && (
    <Footer
      menusFooterByLang={menusFooterByLang}
      menusFooterAll={menusFooterAll}
      className={
        type === "default"
          ? "md:pl-[250px] peer-checked/menu:md:pl-0"
          : type === "video"
            ? "min-[1330px]:pl-[250px] peer-checked/menu:min-[1330px]:pl-0"
            : undefined
      }
      siteTitle={settings?.siteTitle}
      supportEmail={settings?.supportEmail}
      whatsappNumber={parseInt(settings?.whatsappNumber!)}
      locale={locale}
    />
  )
}
