---
import type { User } from "lucia"

//  import type { Topic as TopicProps } from "@prisma/client"

import Logo from "@/components/Brand/Logo"
import Link from "@/components/Link"
import ThemeSwitcher from "@/components/Theme/ThemeSwitcher.astro"
// import ThemeSwitcher from "@/components/theme/theme-switcher"
import { buttonVariants } from "@/components/UI/Button"
import { Icon } from "@/components/UI/Icon"
import UserMenu from "@/components/User/UserMenu"
import { cn } from "@/lib/utils/style"
import type { LanguageType } from "@/lib/validation/language"
import SearchTopNav from "./SearchTopNav"

interface Props {
  locale: LanguageType
  toggleSideNav?: () => void
  facebookUsername?: string
  twitterUsername?: string
  instagramUsername?: string
  tiktokUsername?: string
  whatsappChannel?: string
  youtubeChannel?: string
  headerType?: "default" | "video" | "shorts" | "video-content"
  // topics?: Partial<TopicProps>[]
  user?: User | null
}

const {
  headerType = "default",
  locale,
  facebookUsername,
  instagramUsername,
  tiktokUsername,
  twitterUsername,
  whatsappChannel,
  youtubeChannel,
  user,
} = Astro.props
---

<header
  class="fixed top-0 z-[10] mx-auto flex h-16 w-full max-w-full items-center bg-background pl-[60px] shadow-md"
>
  <slot name="buttonMenu" />
  <div class="ml-auto mr-auto grow">
    <div class="h-full">
      <div class="flex h-full flex-row flex-nowrap items-center">
        <div class="flex items-center md:w-[250px]">
          <h2 class="m-0 p-0 text-4xl font-bold leading-none">
            <Link locale={locale} aria-label="Go To Homepage" href="/">
              <Logo />
            </Link>
          </h2>
        </div>
        <div
          class={cn(
            "ml-auto md:ml-0 lg:w-[40%] xl:w-[50%]",
            headerType === "shorts" ? "hidden md:block" : "block",
          )}
        >
          <SearchTopNav locale={locale} />
        </div>
        <div
          class={cn(
            "grow-1 ml-2 flex flex-row space-x-3 pr-2 md:ml-auto",
            headerType === "shorts" ? "hidden md:block" : "flex",
          )}
        >
          <div class="hidden items-center space-x-1 lg:flex">
            {
              facebookUsername && (
                <a
                  aria-label="Facebook"
                  href={`https://www.facebook.com/${facebookUsername}`}
                  target="_blank"
                  class={cn(
                    buttonVariants({
                      variant: "ghost",
                      size: "icon",
                      className: "hidden p-1 lg:flex",
                    }),
                  )}
                >
                  <Icon.Facebook
                    className="h-[19px] w-[19px]"
                    aria-label="Facebook"
                  />
                </a>
              )
            }
            {
              twitterUsername && (
                <a
                  aria-label="Twitter"
                  href={`https://www.twitter.com/${twitterUsername}`}
                  target="_blank"
                  class={cn(
                    buttonVariants({
                      variant: "ghost",
                      size: "icon",
                      className: "hidden p-1 lg:flex",
                    }),
                  )}
                >
                  <Icon.Twitter
                    className="h-[19px] w-[19px]"
                    aria-label="Twitter"
                  />
                </a>
              )
            }
            {
              instagramUsername && (
                <a
                  aria-label="Instagram"
                  href={`https://www.instagram.com/${instagramUsername}`}
                  target="_blank"
                  class={cn(
                    buttonVariants({
                      variant: "ghost",
                      size: "icon",
                      className: "hidden p-1 lg:flex",
                    }),
                  )}
                >
                  <Icon.Instagram
                    className="h-[19px] w-[19px]"
                    aria-label="Instagram"
                  />
                </a>
              )
            }
            {
              tiktokUsername && (
                <a
                  aria-label="Tiktok"
                  href={`https://tiktok.com/${tiktokUsername}`}
                  target="_blank"
                  class={cn(
                    buttonVariants({
                      variant: "ghost",
                      size: "icon",
                      className: "hidden p-1 lg:flex",
                    }),
                  )}
                >
                  <Icon.Tiktok
                    className="h-[19px] w-[19px]"
                    aria-label="Tiktok"
                  />
                </a>
              )
            }
            {
              whatsappChannel && (
                <a
                  aria-label="WhatsApp Channel"
                  href={`https://whatsapp.com/channel/${whatsappChannel}`}
                  target="_blank"
                  class={cn(
                    buttonVariants({
                      variant: "ghost",
                      size: "icon",
                      className: "hidden p-1 lg:flex",
                    }),
                  )}
                >
                  <Icon.WhatsApp
                    className="h-[19px] w-[19px]"
                    aria-label="WhatsApp Channel"
                  />
                </a>
              )
            }
            {
              youtubeChannel && (
                <a
                  aria-label="Youtube"
                  href={`https://www.youtube.com/${youtubeChannel}`}
                  target="_blank"
                  class={cn(
                    buttonVariants({
                      variant: "ghost",
                      size: "icon",
                      className: "hidden p-1 lg:flex",
                    }),
                  )}
                >
                  <Icon.Youtube
                    className="h-[19px] w-[19px]"
                    aria-label="Youtube"
                  />
                </a>
              )
            }
          </div>
          <div class="ml-4 flex items-center space-x-2">
            <div class="flex items-center">
              <ThemeSwitcher />
            </div>
            <div class="flex items-center">
              <UserMenu client:load user={user} locale={locale} />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
