---
import type {
  SelectTopic,
  SelectDownload,
  SelectDownloadFile,
  SelectMedia,
} from "@/lib/db/schema"
import type { LanguageType } from "@/lib/validation/language"
import DownloadList from "@/components/Download/DownloadList"
import { Icon } from "@/components/UI/Icon"
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbSeparator,
} from "@/components/UI/Breadcrumb"
import { formatDate } from "@/lib/utils/date"
import DownloadCardSide from "@/components/Download/DownloadCardSide"
import DownloadDetailBox from "@/components/Download/DownloadDetailBox"
import { Button } from "@/components/UI/Button"
import Link from "@/components/Link"
import { Image } from "astro:assets"
import type { DownloadType } from "@/lib/validation/download"
import ContentWrapper from "@/components/ContentWrapper"
import DownloadComment from "@/components/Comment/DownloadComment"

type DownloadProps = SelectDownload & {
  featuredImage?: Partial<SelectMedia>
  downloadFiles?: Partial<SelectDownloadFile>[]
  topics?: Partial<SelectTopic>[]
}

interface Props {
  downloads: DownloadProps[]
  locale: LanguageType
  download: DownloadProps
  type: DownloadType
  relatedDownloads: { downloads: DownloadProps[] }
}

const { download, downloads, locale, type, relatedDownloads } = Astro.props

const fileVersion =
  download &&
  download?.downloadFiles?.length &&
  download?.downloadFiles?.length > 0
    ? download?.downloadFiles[0]
    : undefined
---

<div
  class="fade-up-element mx-auto flex w-full flex-row pt-5 md:max-[991px]:max-w-[750px] min-[992px]:max-[1199px]:max-w-[970px] min-[1200px]:max-w-[1170px]"
>
  <div class="flex w-full flex-col overflow-x-hidden px-4 lg:mr-4">
    <Breadcrumb className="inline-flex items-center">
      <BreadcrumbItem>
        <BreadcrumbLink className="text-[12px] text-foreground" href="/">
          Home
        </BreadcrumbLink>
      </BreadcrumbItem>
      <BreadcrumbSeparator className="inline-flex list-none text-foreground" />
      <BreadcrumbLink
        href={`/download/${type}`}
        className="text-[12px] text-foreground"
      >
        {type.toLocaleUpperCase()}
      </BreadcrumbLink>
      <BreadcrumbSeparator className="inline-flex list-none text-foreground" />
      <BreadcrumbItem>
        <BreadcrumbLink className="text-[12px] text-foreground">
          {download?.title}
        </BreadcrumbLink>
      </BreadcrumbItem>
    </Breadcrumb>

    <div class={"my-5 flex flex-col space-x-2 space-y-2 lg:flex-row"}>
      <div class={"w-full space-y-4"}>
        <div
          id="download"
          class="rounded-xl bg-background p-3 shadow-md lg:p-7"
        >
          <div class={"flex space-x-3 lg:space-x-6"}>
            <div class={"w-4/12 lg:w-2/12"}>
              <div class="relative h-[100px] w-full">
                {
                  download?.featuredImage?.url && (
                    <Image
                      src={download?.featuredImage?.url}
                      alt={download?.title as string}
                      class="rounded-lg object-cover"
                      sizes="(max-width: 768px) 30vw, (max-width: 1200px) 20vw, 33vw"
                      quality={60}
                      width={500}
                      height={500}
                    />
                  )
                }
              </div>
            </div>
            <div class={"w-8/12 space-y-1 lg:w-10/12"}>
              <h2 class="line-clamp-1 text-xl md:text-3xl">
                {download?.title}
              </h2>

              <div class="flex flex-wrap gap-2">
                {
                  download &&
                    download?.downloadFiles?.length &&
                    download?.downloadFiles?.length > 0 && (
                      <>
                        <p>{fileVersion?.version}</p>
                        <Link
                          locale={locale}
                          aria-label="Show All Version Page"
                          href={`/download/${type}/${download.slug}#all-version`}
                          className="text-success"
                        >
                          Show All Version
                        </Link>
                      </>
                    )
                }
              </div>
              <p>{download?.developer}</p>
              <div class={"inline-flex space-x-2 pt-12"}>
                <Button asChild type="button" aria-label="Official Web">
                  <a
                    href={download?.officialWebsite}
                    target="_blank"
                    rel="noreferrer"
                  >
                    Official Web
                  </a>
                </Button>
                {
                  download &&
                    download?.downloadFiles?.length &&
                    download?.downloadFiles?.length > 0 && (
                      <Button asChild aria-label="Download">
                        <Link
                          locale={locale}
                          aria-label="Download"
                          href={`/download/${type}/${download.slug}/${fileVersion?.slug}`}
                        >
                          Download
                        </Link>
                      </Button>
                    )
                }
              </div>
            </div>
          </div>
        </div>
        <div class="article-body space-y-4">
          <ContentWrapper
            locale={locale}
            content={download.content}
            title={download.title}
          />
        </div>
        <div
          class="grid grid-cols-2 grid-rows-2 rounded-lg bg-background shadow dark:bg-muted/80 md:grid-cols-3"
        >
          {
            download?.operatingSystem && (
              <DownloadDetailBox
                title="Sistem Operasi"
                value={download?.operatingSystem}
              >
                <Fragment slot="icon">
                  <Icon.Windows
                    className="m-1 h-5 w-5 "
                    aria-label="Sistem Operasi"
                  />
                </Fragment>
              </DownloadDetailBox>
            )
          }
          {
            download?.developer && (
              <DownloadDetailBox title="Developer" value={download?.developer}>
                <Fragment slot="icon">
                  <Icon.Code className="m-1 h-5 w-5 " aria-label="Developer" />
                </Fragment>
              </DownloadDetailBox>
            )
          }
          {
            download?.topics?.[0]?.title && (
              <DownloadDetailBox
                title="Category"
                value={download?.topics?.[0]?.title}
              >
                <Fragment slot="icon">
                  <Icon.Category
                    className="m-1 h-5 w-5 "
                    aria-label="Category"
                  />
                </Fragment>
              </DownloadDetailBox>
            )
          }
          {
            download?.createdAt && (
              <DownloadDetailBox
                title="Last Update"
                value={formatDate(
                  download?.createdAt as unknown as string,
                  "LL",
                )}
              >
                <Fragment slot="icon">
                  <Icon.Update
                    className="m-1 h-5 w-5 "
                    aria-label="Last Update"
                  />
                </Fragment>
              </DownloadDetailBox>
            )
          }
          {
            download &&
              download?.downloadFiles?.length &&
              download?.downloadFiles?.length > 0 && (
                <DownloadDetailBox
                  title="File Size"
                  value={fileVersion?.fileSize}
                >
                  <Fragment slot="icon">
                    <Icon.Folder
                      className="m-1 h-5 w-5 "
                      aria-label="File Size"
                    />
                  </Fragment>
                </DownloadDetailBox>
              )
          }
          {
            download?.license && (
              <DownloadDetailBox title="License" value={download?.license}>
                <Fragment slot="icon">
                  <Icon.VpnKey className="m-1 h-5 w-5 " aria-label="License" />
                </Fragment>
              </DownloadDetailBox>
            )
          }
        </div>

        <div id="all-version" class="mb-5 space-y-2">
          <h2>All version</h2>
          <div class="grid grid-cols-3 gap-4 rounded-lg bg-background">
            {
              download &&
                download?.downloadFiles?.length &&
                download?.downloadFiles?.length > 0 &&
                download?.downloadFiles?.map((downloadFile) => {
                  return (
                    <div class="cursor-pointer rounded-lg bg-foreground/80 p-4 shadow-lg transition-shadow duration-200 ease-in-out hover:shadow-xl">
                      <Link
                        locale={locale}
                        aria-label={downloadFile.title}
                        href={`/download/${type}/${download.slug}/${downloadFile.slug}`}
                        className="text-background"
                      >
                        <p class="text-lg font-semibold">
                          {downloadFile.version}
                        </p>
                        <p class="text-xl font-bold">{downloadFile.title}</p>
                        <p class="text-sm">{downloadFile.fileSize}</p>
                        <p class="text-xs text-muted/90">
                          {formatDate(
                            downloadFile.createdAt as unknown as string,
                            "LL",
                          )}
                        </p>
                      </Link>
                    </div>
                  )
                })
            }
          </div>
        </div>
        <section class="my-5" id="comment">
          <div class="mb-5 flex flex-col justify-center">
            <DownloadComment
              locale={locale}
              downloadId={download.id}
              client:load
            />
          </div>
        </section>
        <div class="w-full px-4">
          <div class={"my-2 flex flex-row justify-start"}>
            <h2>Related</h2>
          </div>
          {
            (
              <DownloadList
                locale={locale}
                downloads={relatedDownloads?.downloads!}
              />
            )
          }
        </div>
      </div>
    </div>
  </div>
  <aside class="hidden w-4/12 lg:block">
    <div class="sticky top-8 rounded-xl border border-muted/10 p-4">
      <div class="mb-4">
        <h4 class="text-transparent">
          <span
            class="after:absolute after:left-1/2 after:top-[40px] after:ml-[-25px] after:h-[3px] after:w-[50px] after:border after:border-main after:bg-main"
          >
            You may also like
          </span>
        </h4>
      </div>
      {
        downloads?.map((download) => {
          return (
            <DownloadCardSide
              src={download.featuredImage?.url!}
              title={download.title}
              slug={`/download/${download.type}/${download.slug}`}
            />
          )
        })
      }
    </div>
  </aside>
</div>
