---
import { SEO, type Props as SeoProps } from "astro-seo"

// import { ViewTransitions } from "astro:transitions"

import "@/styles/globals.css"

import MainContainer from "@/components/Layout/MainContainer.astro"
import Themes from "@/components/Theme/Themes.astro"
import type { LanguageType } from "@/lib/validation/language"

interface Props {
  seo?: SeoProps
  locale: LanguageType
}

const user = Astro.locals.user

const { seo, locale } = Astro.props
const title = seo?.title || import.meta.env.PUBLIC_SITE_TITLE
const description = seo?.description || import.meta.env.PUBLIC_SITE_DESCRIPTION
const titleTemplate = `%s | ${seo?.titleTemplate || import.meta.env.PUBLIC_SITE_TITLE || ""}`
const titleDefault =
  seo?.titleDefault || import.meta.env.PUBLIC_SITE_TITLE || "Teknodaim"
---

<html lang="en">
  <head>
    <Themes />
    <SEO
      {...seo}
      title={title}
      description={description}
      titleTemplate={titleTemplate}
      titleDefault={titleDefault}
      charset="utf-8"
      noindex={true}
    />
    <link rel="icon" type="image/svg+xml" href="/icon/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <ViewTransitions fallback="swap" /> -->
    <script
      is:inline
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1431832394500017"
      crossorigin="anonymous"></script>
    <script
      is:inline
      type="text/partytown"
      async
      src={`https://www.googletagmanager.com/gtag/js?id=G-P4Y1YPM7SR`}></script>
    <script is:inline type="text/partytown">
      {
        ;`
          window.dataLayer = window.dataLayer || [];
          function gtag() {
            dataLayer.push(arguments);
          }
          gtag("js", new Date());
          gtag("config", "G-P4Y1YPM7SR");
          `
      }
    </script>
    <link
      rel="preload"
      fetchpriority="high"
      href={import.meta.env.PUBLIC_LOGO_URL}
    />
  </head>
  <body class="antialiased font-400 font-sans">
    <MainContainer user={user} locale={locale} client:load
      ><slot /></MainContainer
    >
  </body>
</html>
