---
import { SEO, type Props as SeoProps } from "astro-seo"
import { ViewTransitions } from "astro:transitions"

import MainContainer from "@/components/layout/main-container"

import "@/styles/globals.css"

type Props = {
  seo?: SeoProps
}

const { seo } = Astro.props
const title = seo?.title ?? import.meta.env.NEXT_PUBLIC_SITE_TITLE
const description =
  seo?.description ?? import.meta.env.NEXT_PUBLIC_SITE_DESCRIPTION
const titleTemplate =
  seo?.titleTemplate ?? `%s | ${import.meta.env.PUBLIC_SITE_TITLE ?? ""}`
const titleDefault =
  seo?.titleDefault ?? `${import.meta.env.NEXT_PUBLIC_SITE_TITLE}`
---

<html lang="en">
  <head>
    <SEO
      {...seo}
      title={title}
      description={description}
      titleTemplate={titleTemplate}
      titleDefault={titleDefault}
      charset="utf-8"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <ViewTransitions fallback="swap" />
  </head>
  <body class="antialiased font-400 font-sans">
    <MainContainer><slot /></MainContainer>
  </body>
</html>
